@model  ViewImageModel

<html>
    <body>
        @if(!Model.IsLocked)
    {           
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <img src="/uploads/@Model.Image.Name" style="width: 800px;" />
            <br />
            <h3>Views: @Model.Image.Views</h3>
        </div>
    </div>
 
    }
    else
    {

<div b-wzwicsxrru class="container">
    <main b-wzwicsxrru role="main" class="pb-3">

        <div class="row">
            <div class="col-md-6 offset-md-3 bg-light p-4 rounded shadow">
                @if(Model.Message != null)
                    {
                        <h3 class="alert-danger">@Model.Message</h3>
                    }
                    <h4>Please enter the password for this image:</h4>
                <form method="post" Action ="/home/viewimage">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <input type="text" class="form-control" placeholder="Password" name="password" />
                    <br />
                    <button class="btn btn-primary w-100">Submit</button>
                </form>
            </div>
        </div>

    </main>
</div>
}

</body>
</html>
